@media (max-width: 600px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        position: relative;
    }
    .hamburger-btn[aria-expanded="false"] {
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    .hamburger-btn[aria-expanded="false"] ~ .navbar {
        display: none;
    }
    .hamburger-btn[aria-expanded="true"] {
        display: none;
    }
    .hamburger-btn[aria-expanded="true"] ~ .navbar.show {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
    .nav-acct {
        margin-left: auto;
    }
    .nav-acct-menu.show {
        width: 300px;
        top: 22px;
        left: -230%;
        margin: 0 auto;
    }
    .aria-nav-menu.show {
        width: 300px;
        height: 300px;
        top: -100px;
        left: -80px;
    }
    main {
        padding: 0;
    }
    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .home-intro {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .home-intro p {
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .mega-menu.show {
        width: 360px;
        padding: .25rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: .25rem;
        top: 55px;
        left: -214%;
    }
    .mega-list {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .mega-list a {
        font-size: 1rem;
    }
    .scroll-top {
        width: 20px;
        height: 20px;
        bottom: 2rem;
        right: 2rem;
    }
    .barbers p {
        max-width: 300px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
}