@media (max-width: 600px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    .hamburger-btn[aria-expanded="false"] {
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    .hamburger-btn[aria-expanded="false"] ~ .navbar {
        display: none;
        transition: all 700ms ease-in-out;
    }
    .hamburger-btn[aria-expanded="false"] .close-nav {
        display: none;
    }
    .hamburger-btn[aria-expanded="true"] {
        display: none;
    }
    .hamburger-btn[aria-expanded="true"] ~ .navbar {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        position: absolute;
        top: 80px;
        background: #27160F;
        transition: all 700ms ease-in-out;
    }
    .navbar.show {
        display: none;
        transition: all 700ms ease-in-out;
    }
    .close-nav {
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        transition: all 700ms ease-in-out;
    }
    .close-nav img {
        width: 20px;
        height: 20px;
    }
    .nav-acct {
        position: static;
    }
    .nav-acct-menu.show {
        width: 100%;
        top: 100px;
        left: -24px;
        margin: 0 auto;
    }
    .aria-nav-menu.show {
        width: 300px;
        height: 300px;
        top: -160px;
        left: -80px;
    }
    main {
        padding: 0;
    }
    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .home-intro {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .home-intro p {
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
    }
    .mega-menu.show {
        width: 360px;
        padding: .25rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: .25rem;
        top: 55px;
        left: -214%;
    }
    .mega-list {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .mega-list a {
        font-size: 1rem;
    }
    .scroll-top {
        width: 20px;
        height: 20px;
        bottom: 2rem;
        right: 2rem;
    }
    .barbers p {
        max-width: 300px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    
}