/* Imports */
/* Fonts */
@font-face {
    font-family: 'Wave';
    src: url(ASSETS/FONTS/LTWave-Medium.otf);
}
@font-face {
    font-family: 'Gravity';
    src: url(ASSETS/FONTS/Gravity-Light.otf);
}
/* Animations */
@keyframes wiggleLetters {
    0% {    
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(10%);
    }
}
/* Animations - Links */

/* Utility Classes */
.text-animate-slw {animation-duration: 1s;}
.text-animate-reg {animation-duration: 700ms;}
.text-animate-fast {animation-duration: 400ms;}
.text-animate-sft-dwn {}
.text-animate-sft-up {}
:root {
    --color_slateBlue: #2d4f64;
    --bkg_clr_midnightBlue: #15252f;
    --font_clr_white: #ffff;
    --font_clr_offWhite: #e7e9ea;
    --font_clr_lightGray: #d0d3d5;
    --font_clr_gray: #a1a7ab;
    --font_clr_darkGray: #727c82;
    --font_clr_darkerGray: #435058;
    --font_success_clr: #34642d;
    --font_failure_clr: #622629;
    --font_link_clr: ;
    --font_link_hover_clr: ;
    --font_link_vs_clr: ;
    --font_link_atv_clr: ;
}
body {
    background: var(--bkg_clr_midnightBlue);
    font-family: 'Gravity', sans-serif;
    position: relative;
}
nav {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 2rem auto;
    padding: 1rem;
    background: transparent;
}
.navbar {
    width: 100%;
    height: auto;
    background: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.navbar > button {

}
.nav-item {

}
.nav-item a {
    display: inline-block;
    color: var(--font_clr_darkerGray);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .3rem;
    text-shadow: 0 0 1px rgba(255, 255, 255, .7);
    transition: all 700ms ease-in-out;
}
.nav-item a:hover {
    color: var(--color_slateBlue);
    animation-name: wiggleLetters;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--font_clr_offWhite);
}



