/* Imports */
/* Fonts */
@font-face {
    font-family: 'Wave';
    src: url(ASSETS/FONTS/LTWave-Medium.otf);
}
@font-face {
    font-family: 'Gravity';
    src: url(ASSETS/FONTS/Gravity-Light.otf);
}
/* Animations */
/* Animations - Links */

/* Utility Classes */

:root {
    --color_slateBlue: #2d4f64;
    --bkg_clr_midnightBlue: #15252f;
    --font_clr_white: #ffff;
    --font_clr_offWhite: #e7e9ea;
    --font_clr_lightGray: #d0d3d5;
    --font_clr_gray: #a1a7ab;
    --font_clr_darkGray: #727c82;
    --font_clr_darkerGray: #435058;
    --font_success_clr: #34642d;
    --font_failure_clr: #622629;
    --font_link_clr: ;
    --font_link_hover_clr: ;
    --font_link_vs_clr: ;
    --font_link_atv_clr: ;
}
body {
    background: var(--bkg_clr_midnightBlue);
    font-family: 'Gravity', sans-serif;
    position: relative;
}
nav {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 2rem auto;
    padding: 1rem;
    background: transparent;
}
.navbar {
    width: 100%;
    height: auto;
    background: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.navbar > button {

}
.nav-item {

}
.nav-item a {
    color: var(--font_clr_darkerGray);
    font-size: 1.25rem;
    letter-spacing: .3rem;
}
.nav-item a:hover {
    color: var(--color_slateBlue);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--font_clr_offWhite);
}
.intro-heading-h {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Wave', sans-serif;
    text-shadow: 2px 5px 8px var(--font_clr_darkerGray);
    text-align: center;
    text-transform: uppercase;
}
.header-wrapper:hover ~ header {
    position: absolute;
    left: 0;
}
.intro-heading-p {
    color: var(--font_clr_gray);
    text-align: center;
    font-family: 'Gravity', sans-serif;
}


